.button {
  position: relative;
  border-radius: 0.25rem;
  transition: opacity 0.3s;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button.filled {
  background-color: #ff0066;
  border: 2px solid #ff0066;
  color: #ffffff;
}

.button.outline {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}

.button.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button.large {
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: bold;
  border: 2px solid;
}

.button.small {
  font-size: 0.75rem;
  padding: 0.25rem;
  font-weight: lighter;
  border: 1px solid;
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 0.5rem;
}
